@media (max-width: 1000px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .container {
    padding: 20px;
  }
  .hero-header {
    margin-bottom: 30px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-discription {
    margin-right: 20px;
  }
  .hero-avatar {
    width: 300px;
    height: 300px;
  }
  .section {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .section-title {
    margin-bottom: 55px;
  }
  .price__blocks {
    justify-content: space-around;
  }
  .popup-img {
    height: 600px;
  }
  .contacts-block {
    gap: 20px;
  }
  .contacts-link {
    font-size: 14px;
  }
}

@media (max-width: 760px) {
  .container {
    padding-bottom: 0;
  }
  .hero-discription {
    margin: 0 auto 20px;
  }

  .hero-avatar {
    width: 250px;
    height: 250px;
  }

  .section-title {
    font-size: 30px;
    margin-bottom: 30px;
  }

  .features-title {
    font-size: 20px;
  }

  .about-image {
    margin-bottom: 40px;
  }

  .about-text,
  .about-list {
    font-size: 15px;
    line-height: 1.4;
  }
  .projects-slide {
    gap: 20px;
  }
  .projects-pagination {
    margin-top: 20px;
  }
  .contacts-block {
    margin-bottom: 40px;
  }
  .price__time-price {
    font-size: 24px;
  }
  .contacts-data {
    flex-direction: column;
    text-align: center;
  }
  .contacts-link {
    margin-right: 0;
  }
  .social-links {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .logo {
    width: 200px;
  }
  .social-link {
    margin-left: 8px;
  }
  .hero-title {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-subtitle {
    margin: 10px 0 0;
  }
  .button {
    padding: 20px 30px;
  }
  .price-button {
    padding: 12px 42px;
  }
  .features-block,
  .about-block,
  .projects-slide,
  .contacts-block {
    flex-direction: column;
  }
  .diploma {
    flex-direction: row;
  }
  .about-block {
    margin-bottom: 40px;
  }
  .about-image {
    width: 270px;
    margin: 0 auto;
  }
  .section-title {
    text-align: center;
  }
  .project-image {
    margin: 0 auto 30px;
  }
  .popup-img {
    max-width: 400px;
  }
  .contacts-form {
    margin-bottom: 40px;
  }
  .contacts-text {
    text-align: center;
  }
  .contacts-data {
    margin-bottom: 0;
  }
}
