* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(30, 18, 104);
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 945px;
  margin: auto;
}
.section {
  padding-top: 64px;
  padding-bottom: 92px;
}
.section-title {
  margin: 0;
  margin-bottom: 84px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}
.hero,
.features,
.projects {
  background: rgb(30, 18, 104);
  background: linear-gradient(
    0deg,
    rgba(30, 18, 104, 1) 0%,
    rgba(41, 28, 144, 1) 66%
  );
}
.features0,
.features1,
.footer,
.price {
  background: rgb(30, 18, 104);
  background: linear-gradient(
    0deg,
    rgba(30, 18, 104, 1) 0%,
    rgba(41, 28, 144, 1) 66%
  );
}
.hero {
  padding-top: 50px;
  padding-bottom: 285px;
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
}
.logo {
  width: 250px;
}
.social-link {
  margin-left: 20px;
}
.social-link:first-child {
  margin-left: 0;
}
.social-link img {
  opacity: 0.8;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-subtitle {
  display: block;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  margin-bottom: 14px;
}
.hero-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  margin-top: 0;
  margin-bottom: 20px;
}
.hero-discription {
  font-size: 16px;
  line-height: 28px;
  max-width: 420px;
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.button:hover {
  background: linear-gradient(0deg, #fdde76 0%, #ffbb01 100%);
}
.hero-avatar {
  background-color: #fff;
  background-image: url("../img/Aleksandr/Portret.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 10px solid #ffbb01;
  border-radius: 50%;
  width: 389px;
  height: 389px;
}

/* featuers */

.features0 .features-title {
  color: #ffbb01;
}
.features-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.features-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}
.features-image {
  display: block;
  margin-bottom: 22px;
}
.features-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 16px;
}
.features-text {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
}
.bio {
  color: #ffbb01;
  font-size: 40px;
  margin: 0;
}

.about-block {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.about-image {
  height: 600px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border: 10px solid #ffbb01;
}
.about-text {
  margin-bottom: 20px;
  line-height: 26px;
}
.about-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 16px;
}
.about-list {
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 28px;
}

.yoga {
  color: #ffbb01;
}

/* Projects - ОТЗЫВЫ*/

.projects-slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}
.project-image {
  height: 500px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
  border: 10px solid #ffbb01;
}
.project-text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}
.project-title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0px;
  margin-bottom: 41px;
}
.project-time,
.project-cost {
  flex-basis: 50%;
  margin-bottom: 44px;
}
.project-time,
.project-cost,
.project-feedback {
  display: flex;
  align-items: flex-start;
}
.project-subtitle {
  margin: 0;
  margin-bottom: 7px;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}
.project-paragraph {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 10px;
}
ol.list {
  margin-left: 20px;
}
.project-icon {
  margin-right: 16px;
}
.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}
.projects-bullet {
  height: 10px;
  width: 10px;
  border: 2px solid #ffbb01;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}
.projects-bullet-active {
  background-color: #ffbb01;
}

/* PRICE */
.price__blocks {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.price__blocks-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  height: 470px;
  border: 2px solid #ffbb01;
  padding: 20px 10px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.price .features-title {
  margin-bottom: 26px;
  text-align: center;
}
.price__img {
  max-width: 280px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 8px solid #ffbb01;
  margin-bottom: 20px;
}
.price__time-min {
  margin-bottom: 5px;
}
.price__time-after {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price__time-price {
  font-size: 28px;
  color: #ffbb01;
}
.price-button {
  display: flex;
  padding: 12px 42px;
  margin: 20px auto 10px;
}

/* Diploma */
.diploma-image {
  border: 8px solid #ffbb01;
  height: 300px;
  cursor: pointer;
}

/* Modal-window */

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}


.active {
  display: flex;
}

.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  border: 8px solid #ffbb01;
}
.popup-img {
  vertical-align: top;
  height: 700px;
}
.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  color: #1f1e1d;
  padding: 0 5px 5px;
  background-color: #ccc;
  border-radius: 2px;
}

/* contacts */
.contacts-form {
  background: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  max-width: 380px;
  padding: 40px 48px 49px;
}
.form-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000;
  margin: 0;
  margin-bottom: 29px;
}
.input {
  background: #f8f8f8;
  border: none;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px;
  padding-left: 50px;
  width: 100%;
  font-size: 14px;
  line-height: 28px;
}
.input-name {
  margin-bottom: 17px;
  background-image: url(../img/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.input-phone {
  margin-bottom: 17px;
  background-image: url(../img/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.form-button {
  width: 100%;
}
.contacts-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-text {
  flex-basis: 50%;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}
.contacts-social {
  flex-basis: 100%;
}
.contacts-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  margin: 0;
  margin-bottom: 15px;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
  margin-right: 37px;
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-policy {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #a5a5a5;
  margin-top: 72px;
}
