@media (max-width: 1000px) {
  .hero {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .container {
    padding: 20px;
  }
  .hero-header {
    margin-bottom: 30px;
  }
  .hero-title {
    font-size: 40px;
  }
  .hero-discription {
    margin-right: 20px;
  }
  .hero-avatar {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 760px) {

  .hero-discription {
    margin: 0 auto 20px;
  }
  
  .hero-avatar {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 580px) {
  .logo {
    width: 200px;
  }
  .social-link {
    margin-left: 8px;
  }
  .hero-title {
    font-size: 35px;
    margin-bottom: 5px;
  }
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-subtitle {
    margin: 10px 0 0;
  }
  .button {
    padding: 20px 30px;
  }
}
